<div class="article-preview" style="margin-left: 30px;">

  <motorbike-actions motorbike="$ctrl.motorbike">
  </motorbike-actions>

  <h2 ng-bind="$ctrl.motorbike.name"></h2>
  <p class="tag-default tag-pill tag-outline" ng-bind="$ctrl.motorbike.cv"></p>

  <!-- Comments -->
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">

      <div show-authed="true">

        <list-errors from="$crl.commentForm.errors"></list-errors>
        <form class="card comment-form" ng-submit="$ctrl.addComment()">
          <div class="card-footer">
            <img ng-src="{{::$ctrl.user.image}}" style="height: 5%; width: 5%; border-radius: 20px;"
              class="comment-author-img" />
            <a class="comment-author" style="margin-left: 5px;"
              ui-sref="app.profile.main({ username: $ctrl.data.owner.username })" ng-bind="::$ctrl.user.username">
            </a>
          </div>
          <fieldset ng-disabled="$ctrl.commentForm.isSubmitting">
            <div class="card-block">
              <textarea class="form-control" placeholder="Write a comment..." rows="3"
                ng-model="$ctrl.commentForm.body"></textarea>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-primary" type="submit" ng-click="$ctrl.addMotorbikeComment()">
                Post Comment
              </button>
            </div>
          </fieldset>
        </form>
      </div>

      <div show-authed="false">
        <a ui-sref="app.login">Sign in</a> or <a ui-sref="app.register">sign up</a> to add comments on this motorbike.
      </div>

      <comment ng-repeat="cmt in $ctrl.motorbikeComments" delete-comment-parent="$ctrl.deleteCommentParent(cmt, $index)"
        motorbike="$ctrl.motorbike" data="cmt">
      </comment>


    </div>
  </div>

</div>