<div style="margin-left: 50px;">
    <label for="">CV Filter</label>
    <input style="margin-top: 50px; margin-left: 20px; margin-bottom: 50px; border-radius: 20px; border-style: solid;"
        type="text" name="" id="" ng-model="$ctrl.cvFilter">

    <button
        style="border-radius: 20px; border-style: solid; border-width: 2px; margin-left:  20px; background-color: #818a91; text-align: center; height: 50px; width: 100px;"
        type="button" ng-click="$ctrl.filter()">
        Filter
    </button>

    <button
        style="border-radius: 20px; border-style: solid; border-width: 2px; margin-left:  20px; background-color: #818a91; text-align: center; height: 50px; width: 100px;">
        Clean Filter
    </button>
</div>

<div class="article-preview" ng-repeat="motorbike in $ctrl.motorbikes" style="margin-left: 50px;">
    <h2>&nbsp;{{motorbike.name}}</h2>
    <p>&nbsp; CV: {{motorbike.cv}}</p>
    <p>&nbsp; Color: {{motorbike.color}}</p>
    <p>&nbsp; Owner: {{motorbike.owner.username}}</p>
    <button ng-click="openDetails()" style="color: #5cb85c;
        background-color: transparent;
        border-color: #5cb85c;
        border-radius: 20px;
        padding-top: 10px;">
        View Details
    </button>
</div>

<div style="margin-left: 50px;" ng-show="$ctrl.noResults">
    <p>No results found</p>
</div>