<div class="article-preview" style="margin-left: 50px;">
    <div ui-sref="app.motorbikeDetails({id: $ctrl.motorbike.slug})">
        <div style="height: 110px; width: 110px; background-color: grey; text-align: center; padding: 5px; border-radius: 100px;">
            <img style="height: 100px;" src="{{$ctrl.pilot.img}}" alt="{{$ctrl.pilot.name}}">
        </div>
        <h2>&nbsp;{{$ctrl.pilot.name}}</h2>
        <p>&nbsp; Age: {{$ctrl.pilot.age}}</p>
        <p>&nbsp; CC: {{$ctrl.pilot.cc}}</p>
        <p>&nbsp; WC: {{$ctrl.pilot.mundialChapionship}}</p>
        <p>&nbsp; Country: {{$ctrl.pilot.country}}</p>
        <p>&nbsp; Team: {{$ctrl.pilot.team}}</p>
    </div>
</div>