<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <list-errors errors="$ctrl.errors"></list-errors>

        <form>
          <fieldset ng-disabled="$ctrl.isSubmitting">

            <fieldset class="form-group">
              <input class="form-control form-control-lg" ng-model="$ctrl.motorbike.name" type="text"
                placeholder="Motorbike Name" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control" ng-model="$ctrl.motorbike.cv" type="text"
                placeholder="CV" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control" ng-model="$ctrl.motorbike.color" type="text"
                placeholder="Color" />
            </fieldset>

            <button class="btn btn-lg pull-xs-right btn-primary" type="button" ng-click="$ctrl.submit()">
              Publish Motorbike
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
