<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center" ng-bind="::$ctrl.title"></h1>
        <p class="text-xs-center">
          <a ui-sref="app.login" ng-show="$ctrl.authType === 'register'">
            Have an account?
          </a>
          <a ui-sref="app.register" ng-show="$ctrl.authType === 'login'">
            Need an account?
          </a>
        </p>

        <a href="http://localhost:3000/api/auth/github">github</a>

        <list-errors errors="$ctrl.errors"></list-errors>

        <form name="authForm">
          <fieldset ng-disabled="$ctrl.disabledForm">

            <fieldset class="form-group" ng-show="$ctrl.authType === 'register'">
              <input required class="form-control form-control-lg" type="text" placeholder="Username"
                ng-model="$ctrl.authForm.username" ng-minlength="3" ng-maxlength="20" />
              <div ng-messages="authForm.Username.$error" style="color: red; font-weight: bold;">
                <p ng-message="required" ng-show="authForm.Username.$dirty">Username is required</p>
                <p ng-message="minlength">Enter more than 3 characters.</p>
                <p ng-message="maxlength">Enter less than 20 characters.</p>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <input required class="form-control form-control-lg" type="email" placeholder="Email"
                ng-model="$ctrl.authForm.email" name="Email" />
              <div ng-messages="authForm.Email.$error" style="color: red; font-weight: bold;">
                <p ng-message="required" ng-show="authForm.Email.$dirty">Email is required</p>
                <p ng-message="email">Please enter a valid email address</p>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <input required class="form-control form-control-lg" type="password" placeholder="Password"
                ng-model="$ctrl.authForm.password" name="Password" ng-minlength="6" ng-maxlength="40" />
              <div ng-messages="authForm.Password.$error" style="color: red; font-weight: bold;">
                <p ng-messages="required" ng-show="authForm.Password.$dirty">Password is required.</p>
                <p ng-messages="minlength">Enter more than 6 characters.</p>
                <p ng-messages="maxlength">Enter less than 40 characters.</p>
              </div>
            </fieldset>

            <fieldset class="form-group" ng-show="$ctrl.authType === 'register'">
              <input required class="form-control form-control-lg" type="password" placeholder="Repeat Password" ng-model="$ctrl.authForm.rpassword">
              <!-- continua el ngshow del span pero nno se ve -->
              <span style="color: red; font-weight: bold;" ng-show="authForm.rPassword.$error.required && (authForm.rPassword.$dirty || false)"></span>
              <span style="color: red; font-weight: bold;" ng-show="$ctrl.authForm.rpassword != $ctrl.authForm.password && (authForm.rPassword.$dirty || false)"></span>
            </fieldset>

            <fieldset ng-show="$ctrl.authType === 'register'">
              <button class="btn btn-lg btn-primary pull-xs-right" type="submit" ng-bind="::$ctrl.title"
                ng-show="authForm.Username.$valid && authForm.Email.$valid && authForm.Password.$valid && authForm.rPassword.$valid "
                ng-click="$ctrl.authSubmit()"><!--continua el ng-show --></button>
                <button class="btn btn-lg btn-primary pull-xs-right" type="submit" ng-bind="::$ctrl.title"
                ng-show="authForm.Username.$valid && authForm.Email.$valid && authForm.Password.$valid && authForm.rPassword.$valid "
                ng-click="$ctrl.nvalidSubmit()"><!--continua el ng-show --></button>
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right" type="submit" ng-bind="::$ctrl.title">
            </button>

          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>